.header-control {
    /* background-image: url('../../assets/DickBackground.png'); */
    /* background-color: pink; */
    /* this can be changed to header-back or dickbackground */
    /* background-image: url('../../assets/wood.jpg');
     */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* padding-top: 20px; */
    padding-bottom: 20px;
    height: 120px;
    background-repeat: repeat;
    background-size: cover;
    background-position: 50% 100%;
}

.header-control .navbar {
    width: 100%;
    background-color: #00000041;
    margin-top: 0px;
    padding-top: 0px;
    /* border-radius: 20px; */
    /* border: solid black 10px; */
    /* outline: 5px solid black; */
    /* box-shadow: 0 0 0 3px rgb(0, 0, 0); */
}

.navbar-nav {
    display: flex;
    align-items: center;
}
.navbar-nav .nav-link{
    color: white!important;
    font-size: 30px;
    /* font-weight: 700; */
}

.navbar-nav .nav-link:hover{
    color: #009CCC !important;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@font-face {
    font-family: newfont;
    src: url(/src/newfont.ttf);
}

@font-face {
    font-family: newerfont;
    src: url("https://github.com/seanpen00/cryptotwerps/blob/main/src/aAtmospheric.ttf?raw=true");
}

.header-content h1 {
    font-size: 51px;
    font-family: newerfont;
    color: black;
    /* font-style: italic; */
    margin-bottom: 30px;
    margin-top: 30px;
    /* font-weight: 900; */
    text-align: center;
    /* background-color: #6D3612; */
    /* padding: 25px; */
    /* border: solid 10px black;
    border-radius: 20px; */
}

.header-nav {
    position: absolute;
    top: 20px;
    max-width: 1200px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    margin-right: 20px;
    color: white;
    font-size: 13px;
    cursor: pointer;
}
.nav-item :hover {
    color: blue;
}

.thePicture {
    height: 0px;
    border: solid #632006 0px;
    border-radius: 20px;
    padding: 0px;
    background-color: #FF9859;
}
















@media (min-width: 767px) {
    .header-control {
        background-image: url('../../assets/wood.jpg');
        /* this can be changed to header-back or dickbackground */
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        /* padding-top: 20px; */
        padding-bottom: 20px;
        height: 500px;
        background-repeat: repeat;
        background-position: 100% 40%;
    }

    .thePicture {
        height: 250px;
        border: solid rgb(255, 255, 255)
         10px;
        box-shadow: 0px 0px 100px white;
        border-radius: 20px;
        padding: 0px;
        background-color: #a14912;
    }
}